<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    My Chats
    </span>
    <button mat-button (click)="createChat()">Create Chat</button>
    <span class="example-spacer"></span>
    <button mat-button (click)="goToProfile()">Profile</button>
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToChats()">Chats</button>
  </mat-toolbar-row>
</mat-toolbar>
  <mat-list class="list">
    <mat-list-item (click)="goToChat(chat.chat_id)" style= "background-color:#ffffff" *ngFor="let chat of chatlist">

      <h4 mat-line><h4>Name: {{chat.chat_name}}</h4></h4>
      <span>
        <input class="trash-button" type="image" src="assets/trashButton.png" (click)="removeChat(chat.chat_id)">
      </span>
      <p matLine> Id: {{chat.chat_id}} </p>
      <p matLine> Owner Id: {{chat.owner_id}} </p>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

