<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    Create Chat
    </span>
    <span class="example-spacer"></span>
    <button mat-button (click)="goToProfile()">Profile</button>
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToChats()">Chats</button>
  </mat-toolbar-row>
</mat-toolbar>

<div style="padding-top: 20px">
  <mat-card class="example-card">
  Name of Chat: <input style="padding-left: 10px" type="text" class="text-field" placeholder="Chat Name" [(ngModel)]="chatName" required />
  </mat-card>
</div>

<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Select Participants:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list #users (selectionChange)="onSelection($event, users.selectedOptions.selected)" >
        <mat-list-option *ngFor="let user of dataSource" [value]='user'>
          {{user.first_name + ' ' + user.last_name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
</div>

<button class="button disabled-class" [disabled]="! isEnabled"  [ngClass]="{'black-button' : isEnabled}" (click)="createChat()">Create Chat</button>
