<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    {{chat.chat_name}}
      <button mat-button (click)="showChatInfo()">Show Info</button>
    </span>
    <span class="example-spacer"></span>
    <button mat-button (click)="goToProfile()">Profile</button>
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToChats()">Chats</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-list-item (click)="showPostReactions(post.post_id)" *ngFor="let post of postList">
    <p matLine> {{post.username + ': ' + post.post_caption}} </p>
    <p matLine> {{post.post_date}} </p>
    <p matLine> Likes: {{post.likes}}  Dislikes: {{post.dislikes}} </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
