<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    {{chat.chat_name}}
      <button mat-button (click)="backToChat()">Back</button>
    </span>
    <span class="example-spacer"></span>
    <button mat-button (click)="goToProfile()">Profile</button>
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToChats()">Chats</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Owner: {{owner.first_name + ' ' + owner.last_name}}</mat-card-title>
    <mat-card-title>Owner Id: {{owner.user_id}}</mat-card-title>
    <mat-card-title>Chat Id: {{chat.chat_id}}</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Users in Chat</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]='dataSource'>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.first_name + ' ' + element.last_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.user_id}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
