<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
    {{chat.chat_name}}
      <button mat-button (click)="backToChat()">Back</button>
    </span>
    <span class="example-spacer"></span>
    <button mat-button (click)="goToProfile()">Profile</button>
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="goToChats()">Chats</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>{{post.username + ': '}}</b>  {{post.post_caption}}</mat-card-title>
    <mat-card-subtitle><i class="date-text">{{post.post_date}}</i></mat-card-subtitle>
    <mat-card-subtitle *ngIf="post.image_file != null" ><img class="chat-image" src="assets/{{post.image_file}}"></mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-list>
  <mat-list-item  *ngFor="let reply of replyList">
    <p matLine> <b>{{reply.username + ': '}}</b>  {{reply.reply_text}}
    </p>
    <p matLine> <i class="date-text">{{reply.reply_date}}</i> </p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>


<div class="input-container">
  <form>
    <input class="chat-box" id="reply_text" type="text" name="Message" placeholder="Enter your text here...">
    <input class="send-button" type="image" src="assets/SendButton.png" (click)="createReply()">
  </form>
</div>
