.example-card {
  max-width: 400px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.text-field {
  height: 25px;
  width:  200px;

}

.add-button {
  max-width: 25px;
  max-height: 25px;
  align-items: center;
  vertical-align:middle;
}

//.buttonChat {
//  position: absolute;
//  right: 30%;
//}
